.body {
    font-family: 'Oswald', sans-serif;
    background-color: beige;
}

.h1 {
    float: left;
    font-size: large;
}

#header {
    float:center;
}

.button {
    color: azure;
    fill-opacity: 50;
    outline: black;
}